<!DOCTYPE html>
<html>

<head>

<title>Currency Converter</title>

<script src="https://cdn.tailwindcss.com"></script>

<link rel="stylesheet" href="/static/style.css">

</head>

<body class="bg-gray-100 p-10">

<div class="max-w-md mx-auto bg-white p-6 rounded shadow">

<h1 class="text-xl font-bold mb-4">Currency Converter</h1>

<input id="amount" placeholder="Amount"
class="border p-2 w-full mb-2">

<input id="from" placeholder="From Currency (USD)"
class="border p-2 w-full mb-2">

<input id="to" placeholder="To Currency (INR)"
class="border p-2 w-full mb-3">

<button onclick="convertCurrency()"
class="bg-blue-500 text-white px-4 py-2 rounded">
Convert
</button>

<h2 class="mt-4 font-semibold">Result</h2>

<p id="result" class="text-lg"></p>

</div>

<script src="/static/script.js"></script>

</body>

</html>